<div class="flex justify-center text-white" style="background-color: oklch(21% 0.034 264.665)">
  <div class="container flex flex-col items-center py-4">
    <p class='text-xl font-bold mb-2'>Blog Pessoal Montreal</p>
    <div class='flex gap-4 items-center'>  <!-- Aumentei o gap para 4 -->
      <a href="https://www.linkedin.com/in/maicon-douglas0066/" target="_blank" class="hover:opacity-80 transition">
        <ng-icon name="bootstrapInstagram" class="text-2xl"></ng-icon>
      </a>
      <a href="https://github.com/maicon8850" target="_blank" class="hover:opacity-80 transition">
        <ng-icon name="bootstrapGithub" class="text-2xl"></ng-icon>
      </a>
    </div>
  </div>
</div>