<div class="min-h-[70vh] flex justify-center" style="background-color: oklch(98.7% 0.022 95.277)">
  <div class='container grid grid-cols-2 text-white'>
    <div class="flex flex-col gap-4 items-center justify-center py-4">
      <h2 class="text-5xl font-extrabold text-black font-serif">
        Seja Bem Vindo!
      </h2>
      <p class="text-xl text-black font-serif">
        Compartilhe a sua opinião
      </p>

      <div class="flex justify-around gap-4">
        <a href="" (click)="open($event)" class="hover:opacity-90">
          <div class="rounded text-white font-medium py-2 px-6"
               style="background-color: oklch(55.5% 0.163 48.998)">
               
            Nova Postagem
          </div>
        </a>
      </div>
    </div>

    <div class="flex justify-center">
      <img src="https://i.imgur.com/fyfri1v.png" alt="Imagem Página Home" class="w-2/3" />
    </div>
  </div>
</div>

<app-listarpostagens></app-listarpostagens>

<ng-template #modalTemplate>
  <div>This is our custom modal content</div>
</ng-template>
